*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

:root{
    --lima: #03A64A;
    --verde: #027333;
    --cinza-claro: #F2F2F2;
    --cinza: rgb(217, 217, 217);
    --preto: #0D0D0D;
}


/* Topo */
section#topo{
    height: 150px;
    width: 100%;
    background-color: var(--verde);
}
section#topo div#botoes_paginas{
    height: 65%;
    border-bottom: 1px solid rgb(200, 200, 200);
}
section#topo div#botoes_paginas button{
    margin-top: 15px;
    margin-left: 10px;
    height: 70px;
    background-color: var(--cinza);
    width: 220px;
    font-size: 24px;
    border-radius: 15px;
    border: 1px solid black;
}
section#topo div#botoes_paginas button img{
    position: relative;
    float: left;
    margin: 0 5%;
    height: 50px;
}
section#topo div#botoes_paginas p{
    margin-top: 5px;
    position: relative;
    float: left;
}
section#topo div#botoes_crud{
    height: 35%;
}
section#topo div#botoes_crud button{
    margin-top: 5px;
    margin-left: 20px;
    height: 40px;
    background-color: var(--cinza);
    width: 185px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
}

@media screen and (max-width: 1000px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 500px){}