Controller/__pycache__/categoriasDAO.cpython-310.pyc
Controller/__pycache__/conexaoDAO.cpython-310.pyc
Controller/__pycache__/produtosDAO.cpython-310.pyc
Model/__pycache__/categorias.cpython-310.pyc
Model/__pycache__/produtos.cpython-310.pyc
