*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

:root{
    --lima: #03A64A;
    --verde: #027333;
    --cinza-claro: #F7F7F7;
    --cinza-medio:rgb(247, 247, 247);
    --cinza: rgb(217, 217, 217);
    --preto: #0D0D0D;
}

.erro {
    border: 1px solid red; /* Estilo para campo de erro */
}
/* Topo */
section#topo{
    height: 150px;
    width: 100%;
    background-color: var(--verde);
}
/* Botões para navegar entre as páginas */
section#topo div#botoes_paginas{
    height: 65%;
    border-bottom: 1px solid var(--cinza-claro);
}
section#topo div#botoes_paginas button{
    margin-top: 15px;
    margin-left: 10px;
    height: 70px;
    background-color: var(--cinza);
    width: 220px;
    font-size: 24px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
}
section#topo div#botoes_paginas button img{
    position: relative;
    float: left;
    margin: 0 5%;
    height: 50px;
}
section#topo div#botoes_paginas p{
    margin-top: 5px;
    position: relative;
    float: left;
}
/* Botões de operações CRUD */
section#topo div#botoes_crud{
    height: 35%;
}
section#topo div#botoes_crud ul{
    list-style: none;
}
section#topo div#botoes_crud ul li{
    position: relative;
    float: left;
}
section#topo div#botoes_crud ul li input{
    margin-top: 5px;
    margin-left: 20px;
    height: 40px;
    width: 185px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
}

/* main */
section#main{
    height: calc(100% - 150px);
}
section#main div#cabecalho{
    height: 60px;
    background-color: var(--cinza-claro);
    width: 100%;
}
section#main div#cabecalho div.pesquisa{
    position: relative;
    float: left;
    padding-top: 20px;
}
section#main div#cabecalho div.pesquisa:nth-child(1){  /* Produto */
    margin-left: 10px;
    width: calc(10% - 10px);
}
section#main div#cabecalho div.pesquisa:nth-child(1) input{  
    width: 50%;
}
section#main div#cabecalho div.pesquisa:nth-child(2){  /* Descrição */
    width: 50%;
}
section#main div#cabecalho div.pesquisa:nth-child(3){  /* Categoria */
    width: 30%;
}
section#main div#cabecalho div.pesquisa:nth-child(4){  /* Status */
    width: 10%;
}
section#main div#cabecalho div.pesquisa p,
section#main div#cabecalho div.pesquisa input{
    position: relative;
    float: left;
}
section#main div#cabecalho div.pesquisa input{
    background-color: var(--cinza);
    border-radius: 10px;
    border: 1px solid black;
    height: 22px;
    margin-left: 10px;
    padding-left: 5px;
}
section#main div#tabela{
    width: 100%;
    height: calc(100% - 60px);
    max-height: calc(100% - 60px); /* Ajuste a altura conforme necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
}
section#main div#tabela table{
    width: 100%;
    height: 100%;
}
section#main div#tabela table tbody tr#tabela_produtos_itens{
    height: 90px;
}
section#main div#tabela table td:nth-child(1){  /* Produto */
    width: 10%;
}
section#main div#tabela table td:nth-child(2){  /* Descrição */
    width: 50%;
}
section#main div#tabela table td:nth-child(3){  /* Categoria */
    width: 30%;
}
section#main div#tabela table td:nth-child(4){  /* Status */
    width: 10%;
}
section#main div#tabela table tbody tr td.hidden-td{
    display: none;
}
section#main div#tabela table tbody tr td p{
    margin-left: 2%;
}

tr:nth-child(odd) {
    background-color: #e2e2e2;
}
tr:nth-child(even) {
    background-color: var(--cinza-medio);
}

/* Modais */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback para navegadores antigos */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}
.modal-conteudo {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    height: 350px;
    width: 550px; 
}
.modal-conteudo#modal-conteudo_alterar_Status{
    height: 150px;
    width: 350px; 
}
.modal-conteudo#modal-conteudo_alterar_Status div.infos{
    margin: 1%;
    height: 90%;
    width: 100%;
}
.modal-conteudo#modal-conteudo_alterar_Status div.infos div.infos-1{
    height: 90%;
    width: 100%;
}
.selected,
tr:nth-child(even).selected,
tr:nth-child(odd).selected{background-color: rgb(138, 138, 138);}

.modal div h2{
    height: 40px;
    width: 100%;
    background-color: #027333;
    padding: 5px 0 0 5px;
    font-weight: 500;
}
.modal div form div.infos{
    height: 90%;
    width: 400px;
    margin-left: 100px;
    margin-top: 30px;
}
.modal div form div.infos div.infos-1{
    width: 100%;
    height: 80px;
}
.modal div form div.infos-3{
    position: relative;
    float: left;
    margin-left: 100px;
}
.modal div form div.novos-dados{
    position: relative;
    float: left;
    margin-right: 20px;
    height: 33.2%;
}
.modal div form div.novos-dados input,
.modal div form div.novos-dados select{
    height: 35px;
    width: 180px;
    padding-left: 5px;
    background-color: var(--cinza);
    border: 1px solid black;
    border-radius: 8px;
}
.modal div form div.botoes-decisao-box{
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 50px;
}
.modal div form div.botoes-decisao-box input.btn-decisao{
    border-radius: 5px;
    width: 90px;
    height: 28px;
    font-size: 16px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
.modal div form div.alerta{
    position: relative;
    float: left;
    margin: 15px;
}
.modal div form div.botoes-decisao-box input.btn-cancelar{ background-color: var(--cinza);}
.modal div form div.botoes-decisao-box input.btn-confirmar{ background-color: var(--lima);}

.modal #mensagem_resultado {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Fallback para navegadores antigos */
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo com opacidade */
}

.modal div#mensagem_resultado_conteudo {
    position: fixed;
    right: 20px;
    bottom: 10px;
    height: 75px;
    width: 250px; 
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
    background-color: white; /* Cor de fundo do conteúdo do modal */
}

.modal div#mensagem_resultado_conteudo div.mensagem {
    display: none; /* Oculta as mensagens por padrão */
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.modal div#mensagem_resultado_conteudo div.mensagem p {
    text-align: center;
    padding-top: 25px; /* Ajuste o padding para centralizar o texto */
}
.modal div#mensagem_resultado_conteudo div#quantidade_negativa p {
    padding-top: 12px; /* Ajuste o padding para centralizar o texto */
}

.modal div#mensagem_resultado_conteudo div#resultado_ok {
    background-color: rgba(3, 166, 74, 0.8);
}

.modal div#mensagem_resultado_conteudo div#nada_selecionado,
.modal div#mensagem_resultado_conteudo div#Produto_inativo,
.modal div#mensagem_resultado_conteudo div#quantidade_negativa,
.modal div#mensagem_resultado_conteudo div#campos_Npreenchidos,
.modal div#mensagem_resultado_conteudo div#alerta {
    background-color: rgba(166, 163, 3, 0.8);
}

.modal div#mensagem_resultado_conteudo div#resultado_erro {
    background-color: rgba(166, 3, 3, 0.8);
}


@media screen and (max-width: 1000px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 500px){}