*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

:root{
    --lima: #03A64A;
    --verde: #027333;
    --cinza-claro: #F7F7F7;
    --cinza-medio:rgb(247, 247, 247);
    --cinza: rgb(217, 217, 217);
    --cinza-escuro:rgb(203, 203, 202);
    --preto: #0D0D0D;
}

.erro {
    border: 1px solid red; /* Estilo para campo de erro */
}
/* Topo */
section#topo{
    height: 100px;
    width: 100%;
    background-color: var(--verde);
}
/* Botões para navegar entre as páginas */
section#topo div#botoes_paginas{
    height: 100%;
}
section#topo div#botoes_paginas button{
    margin-top: 15px;
    margin-left: 10px;
    height: 70px;
    background-color: var(--cinza);
    width: 220px;
    font-size: 24px;
    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;
}
section#topo div#botoes_paginas button img{
    position: relative;
    float: left;
    margin: 0 5%;
    height: 50px;
}
section#topo div#botoes_paginas p{
    margin-top: 5px;
    position: relative;
    float: left;
}

/* main */
section#main{
    height: calc(90% - 150px);
    position: relative;
    margin-top: 5%;
}

/* main pesquisa */
section#main div#filtro_pesquisa{
    position: relative;
    float: left;
    width: 44%;
    height: 300px;
    margin-left: 5%;
    background-color: var(--cinza-escuro);
    border-radius: 8px;
}
section#main div#filtro_pesquisa div#pesquisa_datas{
    height: 60px;
}
section#main div#filtro_pesquisa div#pesquisa_datas div.pesquisa_datas_inputs{
    position: relative;
    float: left;
    margin: 20px;
    font-size: 20px;
}
section#main div#filtro_pesquisa div#pesquisa_datas div.pesquisa_datas_inputs span{
    color: red;
}
section#main div#filtro_pesquisa div#pesquisa_datas div.pesquisa_datas_inputs input{
    background-color: var(--cinza);
    border: none;
    font-size: 20px;
}
section#main div#filtro_pesquisa div#pesquisa_seletores{
    margin: 50px 0px 0px 20px;
    width: 40%;
}
section#main div#filtro_pesquisa div#pesquisa_seletores div.pesquisa_seletores_inputs{
    margin-bottom: 20px;
}
section#main div#filtro_pesquisa div#pesquisa_seletores div.pesquisa_seletores_inputs input{
    background-color: var(--cinza);
    color: black;
    border: none;
    font-size: 20px;
}
section#main div#filtro_pesquisa div#pesquisa_seletores div.pesquisa_seletores_inputs input::placeholder{
    color: black;
}
section#main div#filtro_pesquisa div#pesquisa_RadioSaida {
    position: absolute;
    top: 130px;
    left: 350px;
    font-size: 18px;
}

section#main div#filtro_pesquisa div#pesquisa_RadioSaida div.pesquisa_RadioSaida_inputs {
    margin-bottom: 20px;
}

/* Ocultar o input padrão */
input[type="radio"] {
    display: none;
}

/* Estilizar o label para parecer um radio button customizado */
label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

/* Criar um círculo customizado */
label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--cinza);
    border: 4px solid var(--cinza); 
    border-radius: 4px; 
    margin-right: 4px;
    transition: background-color 0.3s;
}

input[type="radio"]:checked + label::before {
    background-color: var(--verde); 
}


/* main tabela */
section#main div#tabela{
    position: relative;
    float: right;
    width: 44%;
    height: 700px;
    margin-right: 5%;
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
    border: 8px solid var(--verde);
    border-radius: 8px;
}
section#main div#tabela  div#tabela_cabecalho{
    position: sticky; 
    top: 0; 
    z-index: 2; 
    width: 100%;
    height: 50px;
    background-color: white;
}
section#main div#tabela  div#tabela_cabecalho p{
    position: relative;
    float: left;
    width: 20%;
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
}
section#main div#tabela table{
    width: 100%;
    height: 100%;
}
section#main div#tabela table tbody tr#tabela_produtos_itens{
    height: 90px;
}
section#main div#tabela table tbody tr td {
    text-align: center;
    width: 20%;
}
section#main div#tabela table tbody tr td p{
    margin-left: 2%;
}

tr:nth-child(odd) {
    background-color: #e2e2e2;
}
tr:nth-child(even) {
    background-color: var(--cinza-medio);
}


@media screen and (max-width: 1000px){}
@media screen and (max-width: 900px){}
@media screen and (max-width: 500px){}