<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="Estilo/Imagens/categorias_favi.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Estilo/categorias_estilo.css"/>
    <title>Categoria</title>
</head>
<body>
    <section id="topo">
        <div id="botoes_paginas">
            <a href="produtos"><button><img src="Estilo/Imagens/produtos_icone.png"><p> Produtos</p></button></a>
            <button style="background-color: #03A64A;"><img src="Estilo/Imagens/categorias_icone.png"><p> Categorias</p></button>
            <a href="categorias"><button><img src="Estilo/Imagens/relatorios_icone.png"><p> Relatórios</p></button></a>
            
        </div>
        <div id="botoes_crud">
            <ul>
                <li><input type="button" id="add_categoria" value="Nova Categoria"></li>
                <li><input type="button" id="editar_categoria" value="Editar Categoria"></li>
                <li><input type="button" id="inativar_categoria" value="Inativar Categoria"></li>
            </ul>
        </div>
    </section>
    <section id="main">
        <div id="cabecalho">
            <div class="pesquisa">
                <p>id </p>
                <input type="text"/>
            </div>
            <div class="pesquisa">
                <p>Categoria </p>
                <input type="text"/>
            </div>
            <div class="pesquisa">
                <p>Status </p>
                <input type="text"/>
            </div>
            
        </div>
        <div id="tabela">
            <table id="tabela-categorias">
                <tbody>
                    {% if categorias %}
                        {% for categoria_item in categorias %}
                            <tr id="tabela_categorias_itens" data-id="{{ categoria_item.categoriaid }}">
                                <td><p>{{ categoria_item.categoriaid }}</p></td>
                                <td> <p>{{categoria_item.nome}}</p></td>
                                <td><p>{{ categoria_item.status }}</p></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="3">Nenhum registro encontrado</td></tr>
                    {% endif %}
                </tbody>              
            </table>
        </div>
    </section>

    <!-- Modal de Adição -->
    <div id="adicionar_categoria" class="modal">
        <div class="modal-conteudo">
            <h2>Nova categoria</h2>
            <form id="Form-adiciona-categoria" method="POST" action="{{ url_for('add_categoria') }}">
                <div class="infos">
                    <div class="infos-1">
                        <div class="novos-dados">
                            <label for="nome">Nome:</label><br/>
                            <input type="text" id="nome" name="nome"><br><br>
                        </div>
                        <div class="novos-dados">
                            <label for="status">Status:</label><br/>
                            <input type="text" id="status" name="status"><br><br>
                        </div>
                    </div>
                </div>
                <div id="botoes-decisao-adicao">
                    <input type="hidden" name="acao" value="cancelar" id="acao">
                    <button type="button" class="btn-decisao" id="btn-cancelar" onclick="document.getElementById('acao').value='cancelar'; document.getElementById('Form-adiciona-categoria').submit();">Cancelar</button>
                    <button type="button" class="btn-decisao" id="btn-confirmar" onclick="document.getElementById('acao').value='confirmar'; document.getElementById('Form-adiciona-categoria').submit();">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Edição -->
    <div id="editar-categoria" class="modal">
        <div class="modal-conteudo">
            <h2>Editar Categoria</h2>
            <form id="Form-editar-categoria" method="POST" action="{{ url_for('editar_categoria') }}">
                <div class="infos">
                    <input type="hidden" id="editar-categoriaid" name="editar-categoriaid">
                    <div class="infos-1">
                        <div class="novos-dados">
                            <label for="editar-nome">Nome:</label><br/>
                            <input type="text" id="editar-nome" name="editar-nome"><br><br>
                        </div>
                        <div class="novos-dados">
                            <label for="editar-status">Status:</label><br/>
                            <input type="text" id="editar-status" name="editar-status"><br><br>
                        </div>
                    </div>
                </div>
                <div id="botoes-decisao-adicao">
                    <input type="hidden" name="DecisaoEditar" value="cancelar" id="acao_editar">
                    <input type="submit" class="btn-decisao" id="btn-cancelar" value="Cancelar" onclick="document.getElementById('acao_editar').value='cancelar';">
                    <input type="submit" class="btn-decisao" id="btn-confirmar" value="Confirmar" onclick="document.getElementById('acao_editar').value='confirmar';">
                </div>
            </form>
        </div>
    </div>
    
    <!-- Modal de alteração de status -->
    <div id="alterar_StatusCategoria" class="modal">
        <div class="modal-conteudo" id="modal-conteudo_alterar_StatusCategoria">
            <h2>Movimentação de Categoria</h2>
            <form id="Form-alterar_StatusCategoria" method="POST" action="{{ url_for('alterar_StatusCategoria') }}">
                <div class="infos">
                    <input type="hidden" id="alterar_StatusCategoria_selecionada" name="alterar_StatusCategoria_selecionada">
                    <div class="infos-1">
                        <p>Deseja tornar o categoria <span id="nomeCategoria">a</span> <span id="statusNovo">a</span>?</p>                      
                    </div>
                </div>
                <div id="botoes-decisao-adicao">
                    <input type="hidden" name="DecisaoAlterar" value="cancelar" id="acao_alterar">
                    <input type="submit" class="btn-decisao" id="btn-cancelar" value="Cancelar" onclick="document.getElementById('acao_alterar').value='cancelar';">
                    <input type="submit" class="btn-decisao" id="btn-confirmar" value="Confirmar" onclick="document.getElementById('acao_alterar').value='confirmar';">
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de mensagem de retorno sobre a operação -->
    <div id="mensagem_resultado" class="modal">
        <div id="mensagem_resultado_conteudo">
            {% if mensagem_sucesso %}
            <div class="mensagem" id="resultado_ok">
                <p>{{ mensagem_sucesso }}</p>
            </div>
            {% endif %}
            {% if mensagem_erro %}
                <div class="mensagem" id="resultado_erro">
                    <p>{{ mensagem_erro }}</p>
                </div>
            {% endif %}
            {% if mensagem_erro_quantia %}
                <div class="mensagem" id="quantidade_negativa">
                    <p>{{ mensagem_erro_quantia }}</p>
                </div>
            {% endif %}
            {% if mensagem_alerta %}
                <div class="mensagem" id="campos_Npreenchidos">
                    <p>{{ mensagem_alerta }}</p>
                </div>
            {% endif %}
            <div class="mensagem" id="nada_selecionado">
                <p>Nenhum produto selecionado</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // Botões que acionam modals
        var modals = document.querySelectorAll('.modal');
        var btnAdd = document.getElementById("add_categoria");
        var btnEditar = document.getElementById("editar_categoria");
        var btnDeletar = document.getElementById("inativar_categoria");
        var btnCancelar = document.getElementById("btn-cancelar");

        window.onload = function() {
            const resultadoOk = document.getElementById('resultado_ok');
            const resultatoErro = document.getElementById('resultado_erro');
            const resultadoSemDados = document.getElementById('campos_Npreenchidos');
            const modal = document.getElementById('mensagem_resultado');

            // Verifica se existe uma mensagem de erro
            if (resultatoErro && resultatoErro.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultatoErro.style.display = 'block'; // Mostra a mensagem de erro
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/categorias"; // Altere para a URL desejada
                }, 3000);
            } 
            // Verifica se existe uma mensagem de sucesso
            else if (resultadoOk && resultadoOk.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultadoOk.style.display = 'block'; // Mostra a mensagem de sucesso
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/categorias"; // Altere para a URL desejada
                }, 3000);
            }
            // Verifica se existe uma mensagem de sem dados
            else if (resultadoSemDados && resultadoSemDados.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultadoSemDados.style.display = 'block'; // Mostra a mensagem de sucesso
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/categorias"; // Altere para a URL desejada
                }, 3000);
            }
        };
        
        // Função para selecionar linha da tabela
        var selectedRow = null;
        document.getElementById('tabela-categorias').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = target;
                selectedRow.classList.add('selected');
            }
        });

        // Funções acioadas pelos botões:
        // Adicionar produto
        btnAdd.onclick = function() {
            openModal('adicionar_categoria');
        }
        // Editar produto
        btnEditar.onclick = function() {
            if (selectedRow) {
                var categoriaid = selectedRow.children[0].textContent;
                var nome = selectedRow.children[1].children[0].textContent.trim();
                var status = selectedRow.children[2].textContent;
                
                document.getElementById('editar-categoriaid').value = categoriaid;
                document.getElementById('editar-nome').value = nome;
                document.getElementById('editar-status').value = status;

                openModal('editar-categoria');
            } else {
                document.getElementById("nada_selecionado").style.display = 'block';
                openModal('mensagem_resultado')
            }
        }

        // Função para abrir Modal
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            } else {
                console.error('Modal não encontrado: ' + modalId);
            }
        }

        // Função para fechar Modal
        function closeModal(modal) {
            modal.style.display = "none";
            if (!(errorMessage && errorMessage.innerText.trim() == '') &&
                !(resultadoOk && resultadoOk.innerText.trim() == '')){
                location.reload();
            }
        }
        
        // Função para fechar modais ao abrir a tela
        modals.forEach(function(modal) {
            btnCancelar.onclick = function() {
                closeModal(modal);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal(modal);
                }
            }
        });
        // Alterar status
        btnDeletar.onclick = function() {
            if (selectedRow) {
                var categoriaid = selectedRow.children[0].textContent;
                document.getElementById('alterar_StatusCategoria_selecionada').value = categoriaid;
                var nome = selectedRow.children[1].children[0].textContent.trim();
                document.getElementById('nomeCategoria').textContent  = nome;
                var statusAtual = selectedRow.children[2].textContent;
                var statusNovo = document.getElementById('statusNovo');
                if(statusAtual === "ATIVO"){
                    statusNovo.textContent  = 'Inativo'
                }else{
                    statusNovo.textContent  = 'Ativo'
                }
                openModal('alterar_StatusCategoria');
            } else {
                document.getElementById("nada_selecionado").style.display = 'block';
                openModal('mensagem_resultado')}}
    </script>
</body>
</html>