<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="Estilo/Imagens/produtos_favi.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Estilo/produtos_estilo.css"/>
    <title>Produtos</title>
</head>
<body>
    <section id="topo">
        <div id="botoes_paginas">
            <button style="background-color: #03A64A;"><img src="Estilo/Imagens/produtos_icone.png"><p> Produtos</p></button>
            <button><img src="Estilo/Imagens/categorias_icone.png"><p> Categorias</p></button>
            <button><img src="Estilo/Imagens/relatorios_icone.png"><p> Relatórios</p></button>
            
        </div>
        <div id="botoes_crud">
            <button>Novo Produto</button>
            <button>Editar Produto</button>
            <button>Movimentar Estoque</button>
            <button>Inativar Produto</button>
        </div>
    </section>
    <h1>Amo meu GP</h1>
</body>
</html>
