<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="Estilo/Imagens/produtos_favi.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Estilo/produtos_estilo.css"/>
    <title>Produtos</title>
</head>
<body>
    <section id="topo">
        <div id="botoes_paginas">
            <button style="background-color: #03A64A;"><img src="Estilo/Imagens/produtos_icone.png"><p> Produtos</p></button>
            <button><img src="Estilo/Imagens/categorias_icone.png"><p> Categorias</p></button>
            <button><img src="Estilo/Imagens/relatorios_icone.png"><p> Relatórios</p></button>
            
        </div>
        <div id="botoes_crud">
            <ul>
                <li><input type="button" id="add-produto" value="Novo Produto"></li>
                <li><input type="button" id="editar-produto" value="Editar Produto"></li>
                <li><input type="button" id="movimentar-produto" value="Movimentar Estoque"></li>
                <li><input type="button" id="inativar-produto" value="Inativar Produto"></li>
            </ul>
        </div>
    </section>
    <section id="main">
        <div id="cabecalho">
            <div class="pesquisa">
                <p>Produto </p>
                <input type="text"/>
            </div>
            <div class="pesquisa">
                <p>Descrição </p>
                <input type="text"/>
            </div>
            <div class="pesquisa">
                <p>Categoria </p>
                <input type="text"/>
            </div>
            <div class="pesquisa">
                <p>Status </p>
                <input type="text"/>
            </div>
        </div>
        <div id="tabela">
            <table id="tabela-produtos">
                <tbody>
                    {% if produtos %}
                        {% for produto_item in produtos %}
                            <tr id="tabela_produtos_itens" data-id="{{ produto_item.produtoid }}">
                                <td><p>{{ produto_item.produtoid }}</p></td>
                                <td>
                                    <p>{{produto_item.nome}}</p>
                                    <p><i>Estoque disponivel:</i> <b><i>{{ produto_item.quantidade }}</i></b></p>
                                </td>
                                <td><p>{{ produto_item.categoria_id }}</p></td>
                                <td><p>{{ produto_item.status }}</p></td>
                                <td class="hidden-td">{{ produto_item.preco }}</td>
                                <td class="hidden-td">{{ produto_item.quantidade_minima }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="3">Nenhum registro encontrado</td></tr>
                    {% endif %}
                </tbody>              
            </table>
        </div>
    </section>

    <!-- Modal de Adição -->
    <div id="adicionar_produto" class="modal">
        <div class="modal-conteudo">
            <h2>Novo Produto</h2>
            <form id="Form-adiciona-produto" method="POST" action="{{ url_for('add_produto') }}">
                <div class="infos">
                    <div class="infos-1">
                        <div class="novos-dados">
                            <label for="nome">Nome:</label><br/>
                            <input type="text" id="nome" name="nome"><br><br>
                        </div>
                        <div class="novos-dados">
                            <label for="status">Status:</label><br/>
                            <input type="text" id="status" name="status"><br><br>
                        </div>
                    </div>
                    <div class="infos-2">
                        <div class="novos-dados">
                            <label for="categoria">Categoria:</label><br/>
                            <input type="text" id="categoria" name="categoria"><br><br>
                        </div>
                        <div class="novos-dados">
                            <label for="preco">Preço:</label><br/>
                            <input type="text" id="preco" name="preco"><br><br>
                        </div>
                    </div>
                    <div class="infos-3">
                        <div class="novos-dados">
                            <label for="qnt_min">Quantidade Mínima:</label><br/>
                            <input type="text" id="qnt_min" name="qnt_min"><br><br>
                        </div>
                    </div>
                </div>
                <div id="botoes-decisao-adicao">
                    <input type="hidden" name="acao" value="cancelar" id="acao">
                    <input type="submit" class="btn-decisao" id="btn-cancelar" value="Cancelar" onclick="document.getElementById('acao').value='cancelar';">
                    <input type="submit" class="btn-decisao" id="btn-confirmar" value="Confirmar" onclick="document.getElementById('acao').value='confirmar';">
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Edição -->
    <div id="editar_produto" class="modal">
        <div class="modal-conteudo">
            <h2>Editar Produto</h2>
            <form id="Form-editar-produto" method="POST" action="{{ url_for('editar_produto') }}">
                <div class="infos">
                    <input type="hidden" id="editar-produtoid" name="editar-produtoid">
                    <div class="infos-1">
                        <div class="novos-dados">
                            <label for="editar-nome">Nome:</label><br/>
                            <input type="text" id="editar-nome" name="editar-nome"><br><br>
                        </div>
                        <div class="novos-dados">
                            <label for="editar-status">Status:</label><br/>
                            <input type="text" id="editar-status" name="editar-status"><br><br>
                        </div>
                    </div>
                    <div class="infos-2">
                        <div class="novos-dados">
                            <label for="editar-categoria">Categoria:</label><br/>
                            <input type="text" id="editar-categoria" name="editar-categoria"><br><br>
                            <input type="hidden" id="editar-categoriaID" value="">
                        </div>
                        <div class="novos-dados">
                            <label for="editar-preco">Preço:</label><br/>
                            <input type="text" id="editar-preco" name="editar-preco"><br><br>
                        </div>
                    </div>
                    <div class="infos-3">
                        <div class="novos-dados">
                            <label for="editar-qnt_min">Quantidade Mínima:</label><br/>
                            <input type="text" id="editar-qnt_min" name="editar-qnt_min"><br><br>
                        </div>
                    </div>
                </div>
                <div id="botoes-decisao-adicao">
                    <input type="hidden" name="DecisaoEditar" value="cancelar" id="acao_editar">
                    <input type="submit" class="btn-decisao" id="btn-cancelar" value="Cancelar" onclick="document.getElementById('acao_editar').value='cancelar';">
                    <input type="submit" class="btn-decisao" id="btn-confirmar" value="Confirmar" onclick="document.getElementById('acao_editar').value='confirmar';">
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Movimentação -->
    <div id="mover_produto" class="modal">
        <div class="modal-conteudo">
            <h2>Movimentação de Produto</h2>
            <form id="Form-mover-produto" method="POST" action="{{ url_for('mover_produto') }}">
                <div class="infos">
                    <input type="hidden" id="mover-produtoid" name="mover-produtoid">
                    <div class="infos-1">
                        <div class="novos-dados">
                            <label for="tipo-mover">Tipo de movimentação:</label><br/>
                            <input type="text" id="tipo-mover" name="tipo-mover"><br><br>
                        </div>
                        <div class="novos-dados">
                            <label for="quantidade-mover">Quantidade:</label><br/>
                            <input type="text" id="quantidade-mover" name="quantidade-mover" value="0"><br><br>
                        </div>
                    </div>
                </div>
                <div id="botoes-decisao-adicao">
                    <input type="hidden" name="DecisaoMover" value="cancelar" id="acao_mover">
                    <input type="submit" class="btn-decisao" id="btn-cancelar" value="Cancelar" onclick="document.getElementById('acao_mover').value='cancelar';">
                    <input type="submit" class="btn-decisao" id="btn-confirmar" value="Confirmar" onclick="document.getElementById('acao_mover').value='confirmar';">
                </div>
            </form>
        </div>
    </div>

    <!-- Modal de Movimentação -->
    <div id="mensagem_resultado" class="modal">
        <div id="mensagem_resultado_conteudo">
            {% if mensagem_sucesso %}
            <div class="mensagem" id="resultado_ok">
                <p>{{ mensagem_sucesso }}</p>
            </div>
            {% endif %}
            {% if error_message %}
                <div class="mensagem" id="resultado_erro">
                    <p>{{ error_message }}</p>
                </div>
            {% endif %}
            {% if mensagem_alerta %}
                <div class="mensagem" id="campos_Npreenchidos">
                    <p>{{ mensagem_alerta }}</p>
                </div>
            {% endif %}
            <div class="mensagem" id="nada_selecionado">
                <p>Nenhum produto selecionado</p>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        // Botões que acionam modals
        var modals = document.querySelectorAll('.modal');
        var btnAdd = document.getElementById("add-produto");
        var btnEditar = document.getElementById("editar-produto");
        var btnMovimentar = document.getElementById("movimentar-produto");
        var btnDeletar = document.getElementById("inativar-produto");
        var btnCancelar = document.getElementById("btn-cancelar");

        window.onload = function() {
            const resultadoOk = document.getElementById('resultado_ok');
            const resultatoErro = document.getElementById('resultado_erro');
            const resultadoSemDados = document.getElementById('campos_Npreenchidos');
            const modal = document.getElementById('mensagem_resultado');

            // Verifica se existe uma mensagem de erro
            if (resultatoErro && resultatoErro.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultatoErro.style.display = 'block'; // Mostra a mensagem de erro
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/produtos"; // Altere para a URL desejada
                }, 3000);
            } 
            // Verifica se existe uma mensagem de sucesso
            else if (resultadoOk && resultadoOk.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultadoOk.style.display = 'block'; // Mostra a mensagem de sucesso
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/produtos"; // Altere para a URL desejada
                }, 3000);
            }
            // Verifica se existe uma mensagem de sem dados
            else if (resultadoSemDados && resultadoSemDados.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultadoSemDados.style.display = 'block'; // Mostra a mensagem de sucesso
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/produtos"; // Altere para a URL desejada
                }, 3000);
            }
        };
        
        // Função para selecionar linha da tabela
        var selectedRow = null;
        document.getElementById('tabela-produtos').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = target;
                selectedRow.classList.add('selected');
            }
        });

        // Função para fechar Modal
        function closeModal(modal) {
            modal.style.display = "none";
            if (!(errorMessage && errorMessage.innerText.trim() == '') &&
                !(resultadoOk && resultadoOk.innerText.trim() == '')){
                location.reload();
            }
        }

        // Função para abrir Modal
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            } else {
                console.error('Modal não encontrado: ' + modalId);
            }
        }
        
        // Função para fechar modais ao abrir a tela
        modals.forEach(function(modal) {
            btnCancelar.onclick = function() {
                closeModal(modal);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal(modal);
                }
            }
        });

        // Funções acioadas pelos botões:
        // Adicionar produto
        btnAdd.onclick = function() {
            openModal('adicionar_produto');
        }
        // Editar produto
        btnEditar.onclick = function() {
            if (selectedRow) {
                var produtoid = selectedRow.children[0].textContent;
                var linha2 = selectedRow.children[1].textContent.trim(); 
                var nome = selectedRow.children[1].children[0].textContent.trim();
                var categoria = selectedRow.children[2].textContent;
                var status = selectedRow.children[3].textContent;
                var preco = selectedRow.children[4].textContent;
                var quantidade = selectedRow.children[5].textContent;
                
                document.getElementById('editar-produtoid').value = produtoid;
                document.getElementById('editar-nome').value = nome;
                document.getElementById('editar-status').value = status;
                document.getElementById('editar-categoria').value = categoria;
                document.getElementById('editar-qnt_min').value = quantidade;
                document.getElementById('editar-preco').value = preco;

                openModal('editar_produto');
            } else {
                document.getElementById("nada_selecionado").style.display = 'block';
                openModal('mensagem_resultado')
            }
        }
        // Mover produto
        btnMovimentar.onclick = function() {
            if (selectedRow) {
                var produtoid = selectedRow.children[0].textContent;
                document.getElementById('mover-produtoid').value = produtoid;
                openModal('mover_produto');
            } else {
                document.getElementById("nada_selecionado").style.display = 'block';
                openModal('mensagem_resultado')
            }
        }
    </script>
</body>
</html>