<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="Estilo/Imagens/relatorios_favi.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Estilo/relatorios_estilo.css"/>
    <title>Relatórios</title>
</head>
<body>
    <section id="topo">
        <div id="botoes_paginas">
            <a href="produtos"><button><img src="Estilo/Imagens/produtos_icone.png"><p> Produtos</p></button></a>
            <a href="categorias"><button><img src="Estilo/Imagens/categorias_icone.png"><p> Categorias</p></button></a>
            <button style="background-color: #03A64A;"><img src="Estilo/Imagens/relatorios_icone.png"><p> Relatórios</p></button>
        </div>
    </section>
    <section id="main">  
        <div id="filtro_pesquisa">
            <div id="pesquisa_datas">
                <div class='pesquisa_datas_inputs' id="pesquisa_DataInicial">
                    <p><span>*</span>Data inicial:</p>
                    <input type="date"/>
                </div>
                <div class='pesquisa_datas_inputs' id="pesquisa_DataFinal">
                    <p><span>*</span>Data final:</p>
                    <input type="date"/>
                </div>
            </div>
            <div id="pesquisa_seletores">
                <div class="pesquisa_seletores_inputs" id="pesquisa_SeletorCategoria">
                    <input type="text" placeholder="Selecionar categoria"/>
                </div>
                <div class="pesquisa_seletores_inputs" id="pesquisa_SeletorProduto">
                    <input type="text" placeholder="Selecionar produto"/>
                </div>
                <div class="pesquisa_seletores_inputs" id="pesquisa_SeletorID">
                    <input type="text" placeholder="Inserir ID"/>
                </div>
            </div>
            <div id="pesquisa_RadioSaida">
                <div class="pesquisa_RadioSaida_inputs" id="pesquisa_RadioMaiorSaida">
                    <input type="radio" id="maior" name="ordenar" value="maior" checked>
                    <label for="maior">- Ordenar por maior saída</label><br>
                </div>
                <div class="pesquisa_RadioSaida_inputs" id="pesquisa_RadioMenorSaida">
                    <input type="radio" id="menor" name="ordenar" value="menor">
                    <label for="menor">- Ordenar por menor saída</label><br>
                </div>
            </div>
        </div>
        <div id="tabela">
            <div id="tabela_cabecalho">
                <p>Tipo do movimento</p>
                <p>Produto</p>
                <p>Quantidade</p>
                <p>Data</P>
            </div>
            <table id="tabela-categorias">
                <tbody>
                    {% if categorias %}
                        {% for categoria_item in categorias %}
                            <tr id="tabela_categorias_itens" data-id="{{ categoria_item.categoriaid }}">
                                <td><p>{{ categoria_item.categoriaid }}</p></td>
                                <td> <p>{{categoria_item.nome}}</p></td>
                                <td><p>{{ categoria_item.status }}</p></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="3">Nenhum registro encontrado</td></tr>
                    {% endif %}
                </tbody>              
            </table>
        </div>
    </section>


    <!-- Modal de mensagem de retorno sobre a operação -->
    <div id="mensagem_resultado" class="modal">
        <div id="mensagem_resultado_conteudo">
            {% if mensagem_sucesso %}
            <div class="mensagem" id="resultado_ok">
                <p>{{ mensagem_sucesso }}</p>
            </div>
            {% endif %}
            {% if mensagem_erro %}
                <div class="mensagem" id="resultado_erro">
                    <p>{{ mensagem_erro }}</p>
                </div>
            {% endif %}
            {% if mensagem_erro_quantia %}
                <div class="mensagem" id="quantidade_negativa">
                    <p>{{ mensagem_erro_quantia }}</p>
                </div>
            {% endif %}
            {% if mensagem_alerta %}
                <div class="mensagem" id="campos_Npreenchidos">
                    <p>{{ mensagem_alerta }}</p>
                </div>
            {% endif %}
            <div class="mensagem" id="nada_selecionado">
                <p>Nenhum produto selecionado</p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // Botões que acionam modals
        var modals = document.querySelectorAll('.modal');
        var btnAdd = document.getElementById("add_categoria");
        var btnEditar = document.getElementById("editar_categoria");
        var btnDeletar = document.getElementById("inativar_categoria");
        var btnCancelar = document.querySelectorAll('.btn-cancelar');

        window.onload = function() {
            const resultadoOk = document.getElementById('resultado_ok');
            const resultatoErro = document.getElementById('resultado_erro');
            const resultadoSemDados = document.getElementById('campos_Npreenchidos');
            const modal = document.getElementById('mensagem_resultado');

            // Verifica se existe uma mensagem de erro
            if (resultatoErro && resultatoErro.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultatoErro.style.display = 'block'; // Mostra a mensagem de erro
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/categorias"; // Altere para a URL desejada
                }, 3000);
            } 
            // Verifica se existe uma mensagem de sucesso
            else if (resultadoOk && resultadoOk.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultadoOk.style.display = 'block'; // Mostra a mensagem de sucesso
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/categorias"; // Altere para a URL desejada
                }, 3000);
            }
            // Verifica se existe uma mensagem de sem dados
            else if (resultadoSemDados && resultadoSemDados.innerText.trim() !== '') {
                modal.style.display = 'block'; // Mostra o modal
                resultadoSemDados.style.display = 'block'; // Mostra a mensagem de sucesso
                // Redireciona após 3 segundos
                setTimeout(() => {
                    window.location.href = "/categorias"; // Altere para a URL desejada
                }, 3000);
            }
        };
        
        // Função para selecionar linha da tabela    
        var selectedRow = null;
        document.getElementById("add_categoria").style.cursor = "pointer";
        document.getElementById("editar_categoria").style.backgroundColor = "#a5a5a5";
        document.getElementById("editar_categoria").style.cursor = "normal";
        document.getElementById("inativar_categoria").style.backgroundColor = "#a5a5a5";
        document.getElementById("inativar_categoria").style.cursor = "nomral";
        document.getElementById('tabela-categorias').addEventListener('click', function(e) {
            var target = e.target;
            while (target && target.nodeName !== 'TR') {
                target = target.parentNode;
            }
            if (target && target.nodeName === 'TR') {
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                }
                selectedRow = target;
                selectedRow.classList.add('selected');
                document.getElementById("editar_categoria").style.backgroundColor = "#ffffff";
                document.getElementById("editar_categoria").style.cursor = "pointer";
                document.getElementById("inativar_categoria").style.backgroundColor = "#ffffff";
                document.getElementById("inativar_categoria").style.cursor = "pointer";
            }
        });

        // Funções acioadas pelos botões:
        // Adicionar produto
        btnAdd.onclick = function() {
            openModal('adicionar_categoria');
        }
        // Editar produto
        btnEditar.onclick = function() {
            if (selectedRow) {
                var categoriaid = selectedRow.children[0].textContent;
                var nome = selectedRow.children[1].children[0].textContent.trim();
                
                document.getElementById('editar-categoriaid').value = categoriaid;
                document.getElementById('editar-nome').value = nome;

                openModal('editar-categoria');
            } else {
                document.getElementById("nada_selecionado").style.display = 'block';
                openModal('mensagem_resultado')
            }
        }

        // Função para abrir Modal
        function openModal(modalId) {
            var modal = document.getElementById(modalId);
            if (modal) {
                modal.style.display = 'block';
            } else {
                console.error('Modal não encontrado: ' + modalId);
            }
        }

        // Função para fechar Modal
        function closeModal(modal) {
            modal.style.display = "none";
            if (!(errorMessage && errorMessage.innerText.trim() == '') &&
                !(resultadoOk && resultadoOk.innerText.trim() == '')){
                location.reload();
            }
        }
        
        // Função para fechar modais ao abrir a tela
        modals.forEach(function(modal) {
            btnCancelar.onclick = function() {
                closeModal(modal);
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    closeModal(modal);
                }
            }
        });
        // Alterar status
        btnDeletar.onclick = function() {
            if (selectedRow) {
                var categoriaid = selectedRow.children[0].textContent;
                document.getElementById('alterar_StatusCategoria_selecionada').value = categoriaid;
                var nome = selectedRow.children[1].children[0].textContent.trim();
                document.getElementById('nomeCategoria').textContent  = nome;
                var statusAtual = selectedRow.children[2].textContent;
                var statusNovo = document.getElementById('statusNovo');
                if(statusAtual === "ATIVO"){
                    statusNovo.textContent  = 'Inativo'
                }else{
                    statusNovo.textContent  = 'Ativo'
                }
                openModal('alterar_StatusCategoria');
            } else {
                        document.getElementById("nada_selecionado").style.display = 'block';
                        openModal('mensagem_resultado')
                    }
                }
                document.addEventListener("DOMContentLoaded", function() {
            // Captura os campos de pesquisa
            const categoriaIdInput = document.querySelector('#pesquisaCategoriaID');
            const categoriaNomeInput = document.querySelector('#pesquisaNome');
            const categoriaStatusInput = document.querySelector('#pesquisaStatus');

            // Captura a tabela, linhas da tabela e a mensagem de "nenhum item encontrado"
            const tabelaCategorias = document.querySelector('#tabela-categorias');
            const linhasCategorias = tabelaCategorias.querySelectorAll('tr');
            const noResultsMessage = document.querySelector('#no-results-message');
            // Função para filtrar as categorias
            function filtrarTabela() {
                const categoriaIdValue = categoriaIdInput.value.toLowerCase();
                const categoriaNomeValue = categoriaNomeInput.value.toLowerCase();
                const categoriaStatusValue = categoriaStatusInput.value.toLowerCase();

                let algumaCategoriaEncontrada = false; // Variável para verificar se encontramos categorias

                // Percorre as linhas da tabela (ignora o cabeçalho)
                linhasCategorias.forEach(linha => {
                    const colunas = linha.querySelectorAll('td');
                    // Se houver colunas (linha não for cabeçalho)
                    if (colunas.length > 0) {
                        const CategoriaId = colunas[0].textContent.toLowerCase();
                        const nomeCategoria = colunas[1].textContent.toLowerCase();
                        const statusCategoria = colunas[2].textContent.toLowerCase();   

                        // Verifica se todos os filtros correspondem
                        const correspondeCategoriaId = categoriaIdValue === '' ||  CategoriaId.includes(categoriaIdValue);
                        const correspondeCategoriaNome = categoriaNomeValue === '' ||  nomeCategoria.includes(categoriaNomeValue);

                        // Lógica de status: verifica se começa com "a" ou "i"
                        let correspondeStatus = false;
                        if (categoriaStatusValue.startsWith("a")) {
                            correspondeStatus = statusCategoria === "ativo";
                        } else if (categoriaStatusValue.startsWith("i")) {
                            correspondeStatus = statusCategoria === "inativo";
                        } else if (categoriaStatusValue === '') {
                            correspondeStatus = true; // Se o campo de pesquisa estiver vazio, mostra todos os status
                        }
                        // Exibe ou esconde a linha com base no filtro
                        if (correspondeCategoriaId && correspondeCategoriaNome && correspondeStatus) {
                            linha.style.display = ''; // Exibe a linha
                            algumaCategoriaEncontrada = true; // Encontrou pelo menos uma categoria
                        } else {
                            linha.style.display = 'none'; // Esconde a linha
                        }
                    }
                });

                // Se nenhuma categoria foi encontrada, exibe a mensagem
                if (algumaCategoriaEncontrada) {
                    noResultsMessage.style.display = 'none'; // Esconde a mensagem
                } else {
                    noResultsMessage.style.display = 'block'; // Exibe a mensagem
                }
            }

            // Adiciona o evento de input diretamente aos campos de pesquisa
            categoriaIdInput.addEventListener('input', filtrarTabela);
            categoriaNomeInput.addEventListener('input', filtrarTabela);
            categoriaStatusInput.addEventListener('input', filtrarTabela);
        });
    </script>
</body>
</html>